<div class="edit-container">
    <h1>
        Live Edit
        <button phx-click="save" class="btn">save</button>
    </h1>
    <div class="edit-container__edit">
        <%= live_component @socket, MurkyWeb.MonacoComponent, id: "monaco", raw_md: @raw_md %>
        <div class="edit-container__preview markdown"><%= raw(@md) %></div>
    </div>
</div>
