<div class="markdown_view">
    <div class="markdown_view__header">
        <div class="markdown_view__title"><%= @filename %></div>
        <%= live_redirect "edit", to: Routes.live_path(@socket, MurkyWeb.EditLive, file: @filename), class: "btn"%>
    </div>
    <%= live_component @socket, MurkyWeb.ViewMarkdown, rendered_markdown: @md %>
</div>