/* This file is for your main application css. */
/* SASS style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=53i0u0kgaly7lvfbSpTjVhzoDd- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "markdown.css";

html,
body,
#world,
main {
    height: 100%;
}

div.phx-connected {
    height: 100%;
    display: flex;
    width: 100%;
}

#drop-target {
    border: 2px dashed #0f4141;
    border-radius: 0.25rem;
    font-size: 1rem;
    padding: 0 1rem;
}

#drop-target.drag-hovering {
    background-color: rgba(115, 149, 149, 0.5);
    border-style: solid;
}

#drop-target:hover {
    background-color: rgba(115, 149, 149, 0.5);
    border-style: solid;
}

#upload-form {
    display: none;
}

/* remove the strange shadow from 'coy' theme */
pre[class*="language-"]:before,
pre[class*="language-"]:after {
    content: none !important;
}

.menu:hover .menu-group {
    display: flex;
}

button svg {
    height: auto;
    width: auto;
    fill: #739595;
}

button:hover svg {
    fill: #29395e;
}

.menu-entry-primary-fill svg {
    fill: #739595;
}

.menu-entry-primary-stroke svg {
    stroke: #739595;
}
