/* This file is for your main application css. */
/* SASS style sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=53i0u0kgaly7lvfbSpTjVhzoDd- */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "markdown.css";

html,
body,
#world,
main {
    height: 100%;
}

div.phx-connected {
    height: 100%;
    display: flex;
    width: 100%;
}

#phoenix-live-view-dropzone {
    display: flex;
    align-items: stretch;
    margin: 0 0.2rem;
}

#phoenix-live-view-dropzone>div {
    border: 2px dashed #0F4141;
    border-radius: .25rem;
    font-size: 1rem;
    padding: 0 1rem;
    display: flex;
}

#phoenix-live-view-dropzone button {
    color: #0F4141;
}

#phoenix-live-view-dropzone .drag-hovering {
    background-color: rgba(115, 149, 149, .5);
    border-style: solid;
}

#phoenix-live-view-dropzone>div:hover {
    background-color: rgba(115, 149, 149, .5);
    border-style: solid;
}

/* remove the strange shadow from 'coy' theme */
pre[class*="language-"]:before,
pre[class*="language-"]:after {
    content: none !important;
}

.menu:hover .menu-group {
    display: flex;
}

button svg {
    height: auto;
    width: auto;
    fill: #739595;
}

button:hover svg {
    fill: #29395E;
}

.menu-entry-primary-fill svg {
    fill: #739595;
}

.menu-entry-primary-stroke svg {
    stroke: #739595;
}