*,
*::after,
*::before {
    margin: 0;
    // padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    box-sizing: border-box;
    font-family: 'Martel', serif;
    font-weight: 400;
    color: $color-primary-4;
    // padding: 3rem;
}

#world {
    height: 100vh;
    display: flex;
    flex-direction: column;

    >div {
        flex-grow: 2;
        display: flex;
    }
}


main {
    position: relative;
    width: 100%;
}