.list-item {

    display: flex;
    font-size: 1.4rem;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem 0;
    border: 1px solid $color-primary-1;
    border-left: 1rem solid $color-primary-1;

    min-width: 20rem;
    transition: all .2s;

    &:hover {
        background-color: rgba($color-primary-1, .3);
    }

    & h3 {
        display: flex;
        align-items: center;
        color: $color-primary-4;
        font-size: 1.6rem;
        flex-grow: 2;
        margin: 0 1rem;
        font-weight: 400;
    }

    & button {
        z-index: 100;
        border: none;
        background-color: transparent;
        padding: .4rem;
        // margin: 0 .2rem;

        &:hover {
            background-color: rgba($color-secondary-1-1, .5);
            stroke: white;
        }


        & img {
            width: 1.6rem;
            height: 1.6rem;
        }

        &:last-child {
            margin-right: .6rem;
        }

    }



}