.markdown {
    font-size: 1rem;
    /* padding: 2rem; */
}

.markdown h1 {
    border-bottom: 1px solid #0f4141;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 1.7rem;
}

.markdown h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

.markdown h3 {
    font-size: 1.4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.markdown h4 {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.markdown p,
pre {
    margin: 1rem 0;
}

.markdown p code.inline {
    /* color: #448944; */
    font-weight: 900;
    overflow-wrap: normal;
    word-break: normal;
    background-color: rgba(51, 103, 103, 0.5);
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.markdown pre[class*="language-"] {
    border-radius: 0;
    border: none;
}

.markdown blockquote {
    background-color: rgba(51, 103, 103, 0.5);
    padding: 0.1rem 1rem;
    border-left: 1rem solid #0f4141;
}

.markdown strong {
    color: #205454;
}

.markdown a {
    color: #2a702a;
    border-bottom: 0.1rem solid #205454;
    padding: 0.1rem 0.2rem;
}

.markdown a:hover {
    background-color: #205454;
    color: white;
}

.markdown table td,
th {
    padding-left: 1rem;
}

.markdown table thead tr th {
    border-bottom: 0.3rem solid #0f4141;
}

.markdown table tbody tr td {
    border-bottom: 0.1rem solid #0f4141;
}

.markdown ol {
    list-style-type: upper-roman;
    padding-left: 1.1rem;
}

.markdown ul {
    list-style-type: circle;
    padding-left: 1.1rem;
}