input {
    border: none;
    border-bottom: 3px solid transparent;
    font-family: inherit;
    font-size: 1.6rem;
    background-color: rgba($color-secondary-1-1, 0.5);
    padding: 0.3rem 0.7rem;
    display: block;
    transition: all 0.3s;

    &:focus {
        outline: none;
        // box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary-1;
    }
}

.btn {

    &,
    &:link,
    &:visited {
        border: none;
        background-color: rgba($color-secondary-1-1, 1);
        color: $color-secondary-1-4;
        padding: 0.6rem 0.8rem;
        // margin: .2rem;
        // border-radius: .6rem;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s;
    }

    &:hover {
        background-color: rgba($color-secondary-1-4, 0.9);
        color: $white;
    }
}

.btn-primary {

    &,
    &:link,
    &:visited {
        background-color: rgba($color-secondary-2-1, 1);
        color: $color-secondary-2-4;
    }

    &:hover {
        background-color: rgba($color-secondary-2-4, 0.9);
        color: $white;
    }
}

.header {
    background: linear-gradient(90deg,
            rgba($color-primary-1, 1) 0%,
            rgba($color-primary-2, 1) 100%);
    padding: 0.8rem;

    &>h1 {
        display: flex;
        align-items: baseline;
    }

    &__title {
        font-size: 4rem;
        font-weight: 900;

        & a {
            text-decoration: none;
            color: $color-secondary-1-4;
        }
    }

    &__subtitle {
        font-size: 1.6rem;
        text-transform: uppercase;
        padding-left: 1rem;
        color: rgba($color-primary-4, 0.8);
    }
}

.index-page {
    margin: 2rem;

    &__title {
        font-size: 2rem;
    }
}

.index-list {
    margin-top: 1rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }
}

.markdown_view {
    margin-top: 2rem;

    &__header {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $color-primary-4;
        padding: 0rem 2rem;
    }

    &__title {
        font-size: 2.6rem;
        font-weight: 400;
        flex-grow: 2;
    }
}

/* Semi-transparent overlay container */
.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    background-color: rgba($color-primary-0, 0.7);

    &__inner {
        position: relative;
        z-index: 999;
        height: auto;
        // width: 20rem;
        background-color: white;
        padding: 2rem;
        border-radius: 0.5rem;
    }
}

.confirm-delete {
    &__text {
        font-size: 1.6rem;
        margin-bottom: 2rem;

        & span {
            font-weight: 900;
        }
    }
}

.new {
    display: flex;
    flex-direction: column;

    &__row {
        display: flex;
        padding: 0.3rem;

        button {
            margin-right: 0.5rem;
        }
    }

    &__title {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__error {
        font-size: 1.4rem;
        color: red;
    }
}