<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Murky", suffix: " · Phoenix Framework" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400;800;900&display=swap" rel="stylesheet">
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div id="world" class="h-full  flex flex-col">
      <header class="">
        <h1 class="flex items-baseline ">
          <div class="text-5xl font-black text-primary-600 mx-2"><a href="/">Murky</a></div>
          <div class="text-lg text-primary-400 uppercase">the markdown experience</div>
        </h1>

      </header>
      <%= @inner_content %>
    </div>
  </body>
</html>
